@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

:root {
  --grey-color-200: blue;
  --primary-color: hsl(234, 69%, 75%);
  --mixed-black-color: #f5eded;
  --shadow-color: #beb9b9;
  --icon-size: 1.3rem;
  --max-width: 1430px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
.navbar-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgb(252, 252, 252);
  z-index: 500;
  box-shadow: 1px 1px 1px solid #9298f0;
}

.navbar {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
.navbar a {
  background-color: #beb9b9;
  padding: 10px;
  border-radius: 10px;
}
.navbar-left {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.navbar-search {
  height: 2.3rem;
  display: flex;
  align-items: center;
  width: 23rem;
  border: 1.5px solid blue;
}
@media only screen and (max-width: 1000px) {
  .navbar-search {
    width: 14rem;
  }
}
.navbar-left img{
width: 35px;
}
#logo-title{
  align-items: center;
  font-family: sans-serif;
  font-size:27px;
font-weight: 600;
color: blue;
padding: 1.5rem 0;
}

.navbar-search input {
  height: 100%;
  width: 100%;
  border-radius: 0.3rem;
  padding: 0 0.6rem;
  border: none;
}

.navbar-search span {
  margin-left: -2.4rem;
  color: black;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 0.7rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

.navbar-search input:focus {
  outline: 0.1rem solid var(--primary-color);
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar-search-md {
  display: none;
  font-size: var(--icon-size);
  cursor: pointer;
}

@media only screen and (max-width: 760px) {
  .navbar-search-md {
    display: inline;
  }

  #create-post-btn {
    display: block;
    background-color: transparent;
    border: 1px solid var(--primary-color);
  }
}

#tags-wrapper {
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 0.3rem;
  position: relative;
}

#tags-wrapper i {
  font-size: var(--icon-size);
}

.navbar-avatar a {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.navbar-avatar img {
  width: 2.1rem;
  height: 2.1rem;
  border-radius: 50%;
  cursor: pointer;
}



/* Adjusting responsiveness */
@media only screen and (max-width: 760px) {
  .post-creation-container {
    display: flex;
  }
  .post-creation-options {
    display: flex;
  }
}

@media only screen and (max-width: 760px) {
  .sidebar-container {
    display: none;
  }
}

.sidebar {
  background-color: var(--mixed-black-color);
  width: 20rem;
  height: 100%;
  padding: 1rem;
}

@media only screen and (max-width: 500px) {
  .sidebar {
    width: 87%;
  }
}

.sidebar-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.sidebar-heading > span:first-child {
  font-size: 1.2rem;
  font-weight: 600;
}

#sidebar-close {
  font-size: 30px;
  cursor: pointer;
}

.overall-container {
  display: flex;
  max-width: var(--max-width);
  margin: 4rem auto 0 auto;
  padding: 1rem 1rem;
  gap: 1rem;
}
.left-container {
  flex: 1 1 17%;
  position: sticky;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #9298f0;
  width: 22%;
  top: 0;
  height: 100%;
  color: #000;
  font-weight: 600;
}

@media only screen and (max-width: 760px) {
  .left-container {
    display: none;
  }
}
.left-container-list {
  list-style-type: none;
}

.left-container-list-item a {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  padding: 0.8rem;
  border-radius: 0.3rem;
}

.left-container-list-item a:hover {
  text-decoration: underline;
  background-color: var(--primary-color);
}

.left-container-list-item i {
    color: var(--shadow-color);
}

.left-container-social-list {
  list-style-type: none;
  display: flex;
  padding-left: 0.8rem;
  margin: 1.3rem 0;
}

.left-container-social-list a {
  padding: 0.5rem 0.7rem;
  border-radius: 0.4rem;
}

.left-container-social-list a:hover {
  background-color: var(--primary-color);
}

.left-container-tags {
  margin-top: 3rem;
}

.left-container-tags-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.8rem;
  margin-bottom: 1rem;
}

.left-container-tags-top a {
  padding: 5rem 0.7rem;
  border-radius: 0.4rem;
}

.left-container-tags-top a:hover {
  background-color: var(--grey-color-200);
}

.left-container-overflow {
  height: 10rem;
  overflow-y: auto;
}



.main-container {
  flex: 1 1 58%;
  border: 2px solid var(--primary-color);
  border-radius: 12px;
}


.main-container-post {
  border-radius: 0.4rem;
  cursor: pointer;
  margin-bottom:2rem;
  margin-top:2rem;
}

.main-container-post-content {
  padding:0 1rem;
}



.header-data {
  color: blue;
  font-weight: 600;
  font-size: 20px;
  font-family: sans-serif;
}
.header-data:hover{
  text-decoration: 2px solid underline;
  transition: .5s;
}
.sub-data{
  font-family: Verdana;
  margin-top: 5px;
font-size: 14px;
color:hsl(240, 2%, 28%);
}
#post-details{
  font-size: 16px;
font-family: Arial;
font-weight: bolder;
margin-top: 7px;
color: #5a5454;
}
.data-info a{
display: flex;
align-items: center;
padding: 10px;
font-size: 14px;
font-weight:bold;
font-family: system-ui;
}
.data-info a{
  color: #9298f0;

}
.data-info a:hover{
  text-decoration:1.5px solid underline;
}
.main-container-post-content-div-1 {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.main-container-post-content-div-1 span {
  display: block;
}



 .main-container-post-title {
font-size :14px; ;
  font-weight: 530;
  font-family:serif;
  line-height: 2.8rem;
}
@media only screen and (max-width: 760px) {
  .main-container-post-content-div-2 {
    margin-left: 0;
  }

  .main-container-post-title {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.main-container-post-tags {
  display: flex;
  margin-top: 1rem;
  color: #5a5454;
  font-weight: 500;
  font-family: serif;
}
.active-ago{
  margin-top: 8px;
  display: flex;
  font-weight: 550;
  font-size: 14px;
  font-family: sans-serif;
  color: #5a5454;
}
@media only screen and (max-width: 760px){

}

.main-container-post-footer {
  display: flex;
  justify-content: space-between;
}

.main-container-post-footer-div-1 {
  display: flex;
  gap: 2rem;
}

.main-container-post-footer-div-1 > span:last-child {
  display: flex;
  gap: 0.4rem;
}

@media only screen and (max-width: 760px) {

}

.main-container-post-footer-div-2 {
  display: flex;
  gap: 2rem;
}

.right-container {
  flex: 1 1 23%;
  display: block;
  position: sticky;
  border-radius: 10px;
  width: 26%;
  top: 0;
  height: 100%;
  border: 2px solid #e2e2e6;
}

@media only screen and (max-width: 1000px) {
  .right-container {
    display: none;
  }
}

.right-container-card {
  background-color: var(--mixed-black-color);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.right-container-card-sect {
  padding: 1rem 0.8rem;
}

.right-container-card-sect:not(:last-child) {
  border-bottom: 1px solid var(--grey-color-200);
}

.right-container-card-sect-head {
  font-size: 1.2rem;
  font-weight: 600;
}

.right-container-card-sect-post-title {
  font-size: 1.2rem;
  display: inline-block;
  margin-bottom: 0.5rem;
}

.right-container-card-sect-post-title:hover {
  color: var(--primary-color);
}

