* {
  margin: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

.container {
  /* position: relative; */
  display: grid;
}
#menu-toggle{
  background-color: transparent;
}
.navbar {
  z-index: 1;
  display: flex;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  height: 4rem;
  padding: 10px;
  font-family: sans-serif;
  font-weight: 550;
  background-color: #fff;
  justify-content: space-between;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  background-color: transparent;
}

.nav-right a {
  display: flex;
  text-decoration: none;
  color: #000;
  font-weight: 550;
  font-family: sans-serif;
  position: relative;
  right: 5%;
  background-color: transparent;
}

.nav-right a:hover {
  cursor: pointer;
  color: #d48d09;
  transition: 0.3s;
  font-weight: 550;
  transition: .3s;
  text-decoration: 1.5px solid underline #000;
}

.carousel-container {
  position: relative; /* Set container to relative positioning */
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  );
  /* background-color:rgb(8, 133, 2) ; */
  display: flex; /* Use flexbox for centering */
  align-items: center;
  justify-content: center;
}

.carousel-slide {
  display: none;
}



.main {
  position: absolute;
  z-index: 2; 
  text-align: center;
  color: white;
}


.main {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h1{
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
  font-size: 50px;
}


.carousel-slide {
  position: relative;
}

.carousel-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
  );
}

img {
  width: 100%;
  height: auto;
  z-index: 1; /* Ensure images are above the overlay */
}

#sub-header{
  color:rgb(0, 0, 0);
  font-family: Verdana;
  font-weight: 550;
  margin: 2.5rem 0;
  font-size: 20px;
}
#join-btn {
  background-color: transparent;
  border: 2px solid #fff;
   color:#d48d09;
  text-decoration: none;
  cursor: pointer;
  font-weight: 550;
  font-size: 20px;
  margin: 2.5rem 0;
}
.nav-toggle{
  display: none;
}
#join-btn:hover{
color: #fff;
border: 2px solid #d48d09;

}
#join-btn:active{
  cursor: progress;
  animation-delay: 5s;
}
a{
  text-align: none;
}

 @media only screen and (max-width: 768px) {
  .navbar {
    padding: 10px 20px;
  z-index: 3;
  }

  .nav-right {
    display: none;
    position: fixed;
    top: 60px;
    left: 0;
    width: 35%;
    border-radius: 8px;
    height: 70%;
    box-shadow:1px 2px 3px 4px rgba(0, 0, 0, 0.3);
    flex-direction: column;
     text-align: start;
     padding: 0;
     background-color:#fff;
     position:grid;
    justify-content: start;
  }

  .nav-right.show {
    display: flex;
  }

  .nav-right a {
    display: block;
    padding: 10px;
  }
  .nav-right.overlay {
      background-color: rgba(156, 154, 154, 0.9); 
      backdrop-filter: blur(10px); 
    }
  .nav-toggle {
    display: block;
    cursor: pointer;
    font-size: 35px;
    color: #000;
  }
  .nav-toggle:active{
    display: block;
    cursor: pointer;
    font-size: 35px;
    color: rgb(2, 109, 2);
  }
  
.nav-toggle.active {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); 
  z-index: 3; 
}
}
